<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beever.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
				<key>dateExpires</key>
				<string>01/11/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_full_pdf_viewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_pdf_renderer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2CDE2144CE450B9E1D1FC78F1F2D5CA45C8C6A2</string>
						<key>dateExpires</key>
						<string>01/11/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FF24H7L7PP</string>
						<key>name</key>
						<string>PT. BEEVER SYSTEM INDONESIA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FF24H7L7PP.com.beever.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FF24H7L7PP</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>FF24H7L7PP.com.beever.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c5e9b2ce-ef0f-446b-b766-7b9e04f378ac</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.beever.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FF24H7L7PP</string>
				<key>name</key>
				<string>PT. BEEVER SYSTEM INDONESIA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
